<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>940953184510-vnhm4bc5716egiqet2elj2qb5iq29sgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940953184510-vnhm4bc5716egiqet2elj2qb5iq29sgb</string>
	<key>API_KEY</key>
	<string>AIzaSyDiFQPY6rmt_FAmgvPRKcVLNQWTgX_R4WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>940953184510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.altawoz.followme</string>
	<key>PROJECT_ID</key>
	<string>follow-ec1d8</string>
	<key>STORAGE_BUCKET</key>
	<string>follow-ec1d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940953184510:ios:e4bc1a2f6f6466c5</string>
	<key>DATABASE_URL</key>
	<string>https://follow-ec1d8.firebaseio.com</string>
</dict>
</plist>